<span style=' display:table-cell; vertical-align:middle;'>
  <center>
    <img src='/images/logo_name.jpg' width='350px'>
  <h3>
    Adivina la palabra!<br><br>
    <%=$image%><br>
    <%=$letter%><br>
    <%$juego.guess.each do |letter|%>
      <%=letter%>
    <%end%>
  </h3>
  <form name="play" action="/play" method="post">
    <div class="input-group">
        <input name="letter" type="text" required><br><br>
        <input id='play' class='btn btn-sm' type="submit" value="Inténtalo!">&nbsp;
          <%if $juego.available_clues != 0%>
              <a href="/clue">
                <button id='clue' type="button" class="btn btn-primary btn-sm">
                  Solicitar Pista
                </button>
              </a>
          <%else%>
            <button id='clue' type="button" class="btn btn-primary btn-sm" disabled>
              Solicitar Pista
            </button>
          <%end%>
    </div>
  </form>

  <div class='container' style='width:70%'>
    <div class='row'>
      <%if $clue%>
        <div class='col-xs-6'>
          <div class="alert alert-info" role="alert" style='width:100%;'>
              <h5>Pista: </h5><%=$clue%><br>
              <i><h6>Te quedan <%=$juego.used_clues%> / <%=$juego.available_clues%> pistas</h6></i>
          </div>
        </div>
        <div class='col-xs-6' >
          <div class="alert alert-warning" role="alert" style='width:100%;'>
      <%else%>
        <div >
          <div class="alert alert-warning" role="alert" style='width:100%;'>
      <%end%>
          <h5>Letras ingresadas:</h5>
          <table>
            <tr>
              <%$juego.letters.sort.each do |letter| %>
              <td>
                  <%if letter[1] %>
                    <p class='text-muted'> <%=letter[0]%>&nbsp;</p>
                  <%else%>
                    <p class='text-muted' style='color:#FF847A;'> <%=letter[0]%>&nbsp;</p>
                  <%end%>
              </td>
            <%end%>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </center>
</span>
<%=$juego.trials%>
